<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Native Lucene 2.9 configuration as Spring context -->

<beans>
    
    <bean id="indexDirectory" class="info.jtrac.lucene.LuceneDirectoryFactoryBean">
        <property name="path" value="${jtrac.home}/indexes"/>
    </bean>
    
    <bean id="analyzer" class="info.jtrac.lucene.JtracAnalyzer"/>

    <bean id="indexer" class="info.jtrac.lucene.Indexer">
        <property name="indexDirectory" ref="indexDirectory"/>
        <property name="analyzer" ref="analyzer"/>
    </bean>
    
    <bean id="searchExpander" class="info.jtrac.lucene.OllamaSearchExpander"/>

    <bean id="indexSearcher" class="info.jtrac.lucene.IndexSearcher">
        <property name="indexDirectory" ref="indexDirectory"/>
        <property name="analyzer" ref="analyzer"/>
        <property name="searchExpander" ref="searchExpander"/>
    </bean>
           
</beans>
